body{
	font: normal 20px tahoma,arial,serif; 
	color: black;
	background-image: url("../Imagens/cafe.jpg");
	-webkit-background-size: cover;  
	-o-background-size: cover;  
	-moz-background-size: cover;  
	background-size: cover;
}


#criar{
	text-align: center;
	margin: auto;
	margin-top: 150px;
	width: 400px;
}

legend{
	font-size: 25px;
}

#labellogin {
	margin: 30px 0px 0px 15px;
}

#txtlogin{
	margin: 30px 0px 0px 10px;
}

#labelsenha {
	margin: 30px 0px 0px 10px;
}

#txtsenha {
	margin: 30px 0px 0px 10px;
}

.btn{
	font-size: 16px;
	width: 120px;
	height: 30px;
	margin: 30px 0px 0px 0px;
}
