body{
	font: normal 20px tahoma,arial,serif; 
	color: black;
	background-image: url("../Imagens/cafe.jpg");
	-webkit-background-size: cover;  
	-o-background-size: cover;  
	-moz-background-size: cover;  
	background-size: cover;
}

#criar {
 	text-align: center;
 	margin: auto;
	margin-top: 100px;
	width: 70%
	}

legend{
	font-size: 25px;
}

.botao{
	  /*definimos a largura do box*/
    width: 250px;
    /* definimos a altura do box */
    height: 80px;
    /* definimos a cor de fundo do box */
    background-color:white;
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 100px;
    /* Declaração para aparecer no Firefox */
    -moz-border-radius: 100px;
    /* Para exibir nos outros navegadores como Chrome, safari, opera*/
    -webkit-border-radius: 100px;
    text-align: right;
	font-size: 18px;
	font-family: arial;
	background-repeat: no-repeat;
	background-size: 100px 50px;
	background-position: 15px 10px; 
	}

#pedido {
background-image:url("../Imagens/pedidos.png");
margin: 30px 0px 30px 50px;
}

#reserva {
background-image:url("../Imagens/reserva.png");
margin: 30px 0px 30px 50px;
}

#categoria {
background-image:url("../Imagens/categoria.png");
margin: 30px 0px 30px 50px;
}

#cardapio {
background-image:url("../Imagens/cardapio.png");
margin: 30px 0px 30px 50px;

}#mesa {
background-image:url("../Imagens/mesa.png");
margin: 30px 0px 30px 50px;
}

#funcionario {
background-image:url("../Imagens/Editar-Usuario.png");
margin: 30px 0px 30px 50px;
}

.novo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #f7eff7;
	padding: 10px 20px;
	background: -moz-linear-gradient(top,#edcfb0 0%,#9e5200);
	background: -webkit-gradient(linear, left top, left bottom, from(#edcfb0), to(#9e5200));
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	border: 1px solid #f7f7f7;
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow: 0px -1px 0px rgba(242,233,242,0.2), 0px 1px 0px rgba(255,255,255,0.4);
}	