
body{
	font: normal 20px tahoma,arial,serif; 
	color: black;
	background-image: url("../Imagens/cafe.jpg");
	background-size: 1600px 900px;
	-webkit-background-size: cover;  
	-o-background-size: cover;  
	-moz-background-size: cover;  
	background-size: cover;
}

fieldset {
		text-align: center;
		position:absolute;
		left:18%;
		top:12%;
		margin: auto;
		width: 1000px; 
		height: 500px;
}

legend{
	font-size: 25px;
}

a{
	color : black;
	text-decoration: none;
}

header a{
	color : white;
	margin-left: 85%;
	font-size: 20px;
}


#caixa_1{
	position:absolute;
	width: 400px;
	height: 320px;
	left: 100px;
	top:50px;
}

#caixa_2{	
	position:absolute;
	width: 400px;
	height: 320px;
	left: 520px;
	top: 50px;
}


#labellogin {
	position:absolute;
	left: 50px;
	top: 50px;
}
	
#txtlogin{
	position:absolute;
	left: 180px;
	top:50px;
}


#labelsenha {
	position:absolute;
	left: 50px;
	top: 100px;
}
	
#txtsenha{
	position:absolute;
	left: 180px;
	top: 100px;

}

#labelNome {
	position:absolute;
	left: 50px;
	top: 150px;
}
	
#txtNome{
	position:absolute;
	left: 180px;
	top: 150px;	
}

#labeltelefone {
	position:absolute;
	left: 50px;
	top: 200px;
}
	
#txttelefone {
	position:absolute;
	left: 180px;
	top: 200px;
}

#labelemail {
	position:absolute;
	left: 50px;
	top: 240px;
}
	
#txtemail {
	position:absolute;
	left: 180px;
	top: 240px;
}

#labelrua {
	position:absolute;
	left: 50px;
	top: 50px;
}
	
#txtrua {
	position:absolute;
	left: 180px;
	top: 50px;

}

#labelnumero {
	position:absolute;
	left: 50px;
	top: 100px;
}
	
#txtnumero {
	position:absolute;
	left: 180px;
	top: 100px;	
}

#labelcomplemento {
	position:absolute;
	left: 50px;
	top: 150px;
}
	
#txtcomplemento {
	position:absolute;
	left: 180px;
	top: 150px;
}

#labelbairro {
	position:absolute;
	left: 50px;
	top: 200px;
}
	
#txtbairro {
	position:absolute;
	left: 180px;
	top:200px;
}


#labelcep {
	position:absolute;
	left: 50px;
	top: 250px;
}
	
#txtcep {
	position:absolute;
	left: 180px;
	top: 250px;
}

#btnvoltar{
	position:absolute;
	width: 100px;
	height: 30px;
	top: 400px;
	left: 520px;
	font-size: 16px;
}

#btnsalvar{
	position:absolute;
	width: 100px;
	height: 30px;
	top: 400px;
	left: 400px;
	font-size: 16px;
}

.novo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #f7eff7;
	padding: 10px 20px;
	background: -moz-linear-gradient(top,#edcfb0 0%,#9e5200);
	background: -webkit-gradient(linear, left top, left bottom, from(#edcfb0), to(#9e5200));
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	border: 1px solid #f7f7f7;
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow: 0px -1px 0px rgba(242,233,242,0.2), 0px 1px 0px rgba(255,255,255,0.4);
}